<header class="app-header">
  @if (currentUser$ | async; as user) {
    <button class="header-avatar" [matMenuTriggerFor]="userMenu" aria-label="User menu">
      {{ user.firstName.charAt(0) }}{{ user.lastName.charAt(0) }}
    </button>

    <div class="header-greeting">
      <span class="greeting-sub">Welcome</span>
      <span class="greeting-name">{{ user.firstName }} {{ user.lastName }}</span>
    </div>

    <span class="spacer"></span>

    <button class="bell-btn" [matMenuTriggerFor]="userMenu" aria-label="Account">
      <mat-icon>notifications</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <div class="menu-user-info" mat-menu-item disabled>
        <div class="menu-name">{{ user.firstName }} {{ user.lastName }}</div>
        <div class="menu-email">{{ user.email }}</div>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
  }
</header>
