<div class="page-container">
  <div class="page-header">
    <h1>Settings</h1>
  </div>

  <mat-tab-group animationDuration="0">
    <mat-tab class="tab-label" label="General">
      <div class="tab-content">
        <app-general-settings />
      </div>
    </mat-tab>
    <mat-tab class="tab-label" label="Business">
      <div class="tab-content">
        <app-business-settings />
      </div>
    </mat-tab>
    <mat-tab class="tab-label" label="Service Catalog">
      <div class="tab-content">
        <app-service-catalog />
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
