.page-container {
  width: 100%;
  
}

.page-header {
  margin-bottom: 24px;

  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
  }
}

.tab-content {
  padding-top: 24px;
}

:host-context(html.dark) {
  ::ng-deep .mat-mdc-tab:not(.mdc-tab--active) .mdc-tab__text-label {
    color: #b8d4ca;
  }

  ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #ffffff;
  }
}